<footer>
  <hr />
  {{ if .Site.Params.social }}
  <p id="social">
    Follow The Variant:
    <br />
    {{ range $i, $e := .Site.Params.social }} {{ if $i }} | {{ end }}
    <a href="{{ .url }}">{{ .name }}</a>
    {{ end }}
  </p>
  {{ end }}
  <p class="copyright">
    Copyright © {{ now.Format "2006"}}
    <a href="https://twitter.com/bensonkitia"
      ><strong>{{ default "Blog Author" .Site.Params.Author }}</strong></a
    >.
  </p>
  <p class="builtWith">
    <a href="https://github.com/wwwaffles/thevariant.net">Source code</a>
    <br />
    <a href="/privacy">Privacy</a>
  </p>
</footer>
